<div>
    <form class="container col-4" [formGroup]="bookForm" (ngSubmit)="submitForm()" novalidate>
        <h1 class="display-4 text-center">Update Book #{{this.book?.id}}</h1>
        <div class="form-group">
            <label>Book Name</label>
            <textarea class="form-control" formControlName="name" rows="3" maxlength="70"></textarea>
        </div>
        <div class="form-group">
            <label>Book Author</label>
            <input type="text" formControlName="author" class="form-control">
        </div>
            <label>Book Image Url</label>
        <img class="img-fluid my-2" src={{this.bookForm.value.url}}>
        <div class="form-group">
            <input type="text" formControlName="url" class="form-control">
        </div>
        <button [disabled]="this.bookForm.pristine || !(this.bookForm.value.name && this.bookForm.value.author && this.bookForm.value.url)"
         class="container-fluid btn btn-success my-2 " type="submit">Submit</button>
         <a (click)="clear()" class="container-fluid btn btn-success my-2">Clear</a>
        <div class="text-bg-danger lead p-2" *ngIf="bookForm.controls['name'].errors?.['required'] && !this.bookForm.pristine">
            *Book Name is required.
        </div>
        <div class="text-bg-danger lead p-2" *ngIf="bookForm.controls['name'].errors?.['minlength']">
            *Book Name must be at least 4 characters long.
        </div>
        <div class="text-bg-danger lead p-2"
            *ngIf="bookForm.controls['author'].errors?.['required'] && !this.bookForm.pristine">
            *Book Author is required.
        </div>
        <div class="text-bg-danger lead p-2" *ngIf="bookForm.controls['author'].errors?.['minlength']">
            *Book Author must be at least 4 characters long.
        </div>
    </form>
</div>